*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
scroll-padding-top: 5em;
scroll-behavior: smooth;
}

/*h1, h2 {
	scroll-margin-top: 5rem;
}*/

body {
	font-family: 'Quicksand', sans-serif;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

header.navbar-container {
	width: 100%;
/*	max-width: 1200px;*/
	padding-block: 1rem;
	margin-inline: auto;
	background-color: #0C1844;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 9999;
	position: fixed;
	top: 0;
/*	margin-bottom: 15px;*/
}

header.navbar-container .logo {
	font-size: 30px;
	font-weight: bold;
	color: white;
}

header.navbar-container .nav-list ul {
	padding-left: 0;
	display: flex;
	justify-content: center;
	gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
	list-style-type: none;
}

header.navbar-container .nav-list a {
	padding: 0.5rem 1.5rem;
	border-radius: 999px;
	text-decoration: none;
	font-size: 1.05rem;
	font-weight: 650;
	color: white;
	transition: all 0.3s ease-in-out;
}

header.navbar-container .nav-list li a:hover,
header.navbar-container .nav-list li a.active {
	background-color: #C80036;
	color: #FFF5E1;
/*	border: solid 2px;*/
}

main {
	flex: 1;
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;
	padding: 2rem 4rem;
	display: flex;
	align-items: center;
	margin-top: 4rem;
}

main .content {
	align-items: center;
	margin: 0 auto;
}

main .content-satu {
	flex: 1;
	display: flex;
/*	margin-top: 2rem;*/
}

main .content .content-description {
  flex: 1.5;
  margin-bottom: 2rem;
  text-align: justify;
}

main .content .content-description .title {
  margin-block: 1rem;
  font-size: 2.8rem;
  padding-top: 1rem;
}

main .content .content-description p {
	font-size: 1.2rem;
	line-height: 1.7rem;
	margin-top: 1.5rem;
	padding-bottom: 1.2rem;
}

/*main .content .content-description button {
	padding: 0.5rem 1.5rem;
	border: 3px solid transparent;
	border-radius: 999px;
	margin-block-start: 1rem;
	background-color: #0C1844;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	color: white;
	cursor: pointer;
	transition: all 0.15s ease-in;
	margin-top: 5px;
}*/

main .content .content-description a {
	padding: 0.5rem 1.5rem;
	border: 3px solid transparent;
	border-radius: 999px;
	margin-block-start: 1rem;
	background-color: #0C1844;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	color: white;
	cursor: pointer;
	transition: all 0.15s ease-in;
	margin-top: 2rem;
	text-decoration: none;
/*	margin-left: 25rem auto;*/
/*	padding-right: 0 auto;*/
/*	justify-content: right;*/
}

main .content .content-description a:hover {
	background-color: transparent;
	border: 3px solid #2d3e50;
	color: #2d3e50;
}

/*main .content .content-description button:hover {
	background-color: transparent;
	border: 3px solid #2d3e50;
	color: #2d3e50;
}*/

main .content .content-image {
	flex: 1;
	display: flex;
/*	flex-grow: 1;*/
}

main .content .content-image img {
	width: 280px;
	min-width: 250px;
	margin: auto;
	border-radius: 20%;
/*	margin-right: 5rem;*/
	margin-left: 6rem;
	margin-top: 9rem;
}

/*section .contact {
	display: flex;
	flex: 1;
}*/

.about {
	margin: 0 auto;
	max-width: 800px;
	justify-content: center;
	text-align: justify;
	margin-top: 2.5rem;
/*	scroll-padding-top: 5rem;*/
}

.about p {
	font-size: 1.2rem;
}

.about h1 {
/*	max-width: 500px;*/
	text-align: center;
	padding-top: 1rem;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.layanan-kami {
padding-top: 1rem;
}

.layanan-kami h1 {
	text-align: center;
/*	margin-top: 3rem;*/
}

.services {
		max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    margin-left: 5rem;
    margin-right: 5rem;
/*    flex-grow: 1;*/
}

.service {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding: 1.5em;
    text-align: center;
    width: 250px;
    transition: transform 0.2s;
}

.service:hover {
    transform: translateY(-10px);
}

.service img {
    width: 100px;
    height: 100px;
    margin-bottom: 1em;
    border-radius: 20%;
}

.service h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.service p {
    color: #555;
}

/*.services {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
/*	padding-top: 1em;*/
}

.services h1 {
	font-size: 2em;
	font-weight: bold;
	padding-top: 2.3rem;
/*	margin-top: 10px;*/
}

.services p {
	font-size: 1rem;
	justify-content: center;
}

.services .service-item {
    margin: 20px 0;
}

.services .service-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}*/

.container {
/*	font-family: 'Quicksand', sans-serif;*/
  margin: 0 auto;
  padding: 4rem;
  justify-content: center;
}

.accordion {
  max-width: 800px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}

.accordion button {
	font-family: 'Quicksand', sans-serif;
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: black;
  font-size: 1.15rem;
  font-weight: 450;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #0C1844;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #0C1844;
  border: 1px solid #0C1844;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
/*  font-style: italic;*/
	font-weight: 550;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: black;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 450;
/*  margin: 2em 0;*/
  color: black;
}

.contact h1 {
	text-align: center;
	font-size: 2em;
	padding-top: 1rem;
}

.contact form {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.contact label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact input, .contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  width: 100%;
  padding: 15px;
  background-color: #0C1844;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.contact button:hover {
    background-color: #26355D;
}

main aside {
	position: fixed;
	inset-block: 0;
	inset-inline-end: 0;
}

main aside .sosial-media {
	height: 100%;
	display: flex;
}

main aside .sosial-media ul {
	padding: 1.5rem 1rem;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	margin: auto;
	background-color: #0C1844;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

main aside .sosial-media li {
	list-style-type: none;
}

main aside .sosial-media a {
	text-decoration: none;
	font-size: 1.5rem;
	color: white;
	transition: all 0.1s ease-in-out;
}

main aside .sosial-media a:hover {
	color: #89b0d9;
}

header.navbar-container .nav-list ul {
	flex-wrap: wrap;
	column-gap: .5rem;
}

footer {
    background-color: #0C1844;
    color: white;
    text-align: center;
    padding: 20px 0;
/*    position: fixed;*/
    bottom: 0;
    width: 100%;
/*    margin-top: 20px;*/
}

footer p {
    margin: 0;
}

footer p i .fas fa-heart:hover {
	color: red;
}

@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }
 
  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
 
  main {
    padding: 1rem 3rem;
  }
 
  main .content {
    flex-direction: column;
    gap: 2rem;
  }
 
  main .content .content-description .title {
    font-size: 3rem;
  }
 
  main .content .content-description p {
    font-size: 1rem;
  }
 
  main .content .content-image {
    order: -1;
  }
  section .contact {
  	text-align: center;
  }
}

/*@media screen and (max-width: 400px) {
	main .content .content-image img {
		align-items: center;
	}
}*/